doctype html
html(lang='es') 
    head
        include components/head.pug
    body
      section.gallery
        .container-gallery
          h1.gallery-title The Emerald Planet
          .gallery-content
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/01.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/02.jpg' draggable='false')
            .btn
              a.btn-epk(href='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/epk/TEP_EPK_LINKS.pdf' target='_black' ) Descargar EPK
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/03.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/04.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/05.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/06.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/07.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/08.jpeg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/09.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/10.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/11.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/12.jpg' draggable='false')            
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/13.jpg' draggable='false')
            .photo
              img(src='https://s3-us-west-2.amazonaws.com/www.theepmusic.com/pictures/14.jpg' draggable='false')

        include components/menu.pug
        .loader
          .triangle-wrapper
            .triangle.triangle-1
            .triangle.triangle-2
            .triangle.triangle-3
            .triangle.triangle-4
            .triangle.triangle-5 
script(async='', src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js')
