doctype html
html(lang='es') 
    head
        include components/head.pug
    body
        #fullpage
            .section.fp-auto-height.main
                .wrap-slider
                    .slide
                        div
                            img(src='https://s3.us-west-2.amazonaws.com/www.theepmusic.com/Tep01.jpeg', draggable='false')
                        div
                            img(src='https://s3.us-west-2.amazonaws.com/www.theepmusic.com/the_emerald_planet.jpeg', draggable='false')
                        //- div
                            //- img(src='https://s3.us-west-2.amazonaws.com/www.theepmusic.com/the_emerald_planet_02.jpeg', draggable='false')
                        div
                            img(src='https://s3.us-west-2.amazonaws.com/www.theepmusic.com/the_emerald_planet_03.png', draggable='false')
                        div
                            img(src='https://s3.us-west-2.amazonaws.com/www.theepmusic.com/the_emerald_planet04.png', draggable='false')
                        div
                            img(src='https://s3.us-west-2.amazonaws.com/www.theepmusic.com/the_emerald_planet05.png', draggable='false')
                .titles
                    h1 The Emerald Planet 
                    h4 La tripulacion esmeralda llega al planeta tierra 🚀
        include components/menu.pug
        .loader
          .triangle-wrapper
            .triangle.triangle-1
            .triangle.triangle-2
            .triangle.triangle-3
            .triangle.triangle-4
            .triangle.triangle-5
    //- <p class="triangle-loading">Loading</p>    
script(async='', src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js')
