@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurred {

    .fullpage-wrapper,
    nav {
      filter: blur(5px) !important;
    }
  }
}

.fullpage-wrapper,
nav {
  filter: blur(0);
  transition: all 0.5s ease-in-out;
}

body,
html,
section,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}



.main {
  text-align: center;
  position: relative;

  .wrap-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/images/noise.gif");
      top: 0;
      opacity: 0.4;
      left: 0;
      background-size: 200px;
      z-index: 99;
    }

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: top;
    }
  }

  .titles {
    position: absolute;
    width: 100%;
    top: calc(50% - 95px);
    z-index: 99;

    h1 {
      font-size: 7pc;
      text-align: center;
      color: $white;
      font-weight: 100;
      text-shadow: 0 0 8px #222;
      margin: 0;

      @include media {
        font-size: 4pc;
      }
    }

    h4 {
      margin: 65px 0 0;
      font-size: 15px;
      color: $white;
      letter-spacing: 0.2em;
      opacity: 0.8;
      font-family: $font-s;
    }
  }
}

.album {
  background-color: blue;
  color: $white;
  text-align: center;
  font-size: 30px;
}

.container {
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.block {
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-family: $font-s;

  @include media {
    width: 100%;
  }

  &.text {
    @include media {
      padding: 20px 0;
    }
  }

  h2 {
    filter: blur(1px);
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 15px;

    @include media {
      filter: blur(1px);
      font-size: 18px;
      letter-spacing: 13px;
    }

    span {
      background: url("/images/bf2.jpg") repeat;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      animation-name: masked-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  img {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    @include media {
      width: 80%;
      padding: 10px;

    }
  }
}

.songs {
  color: $white;
  text-align: center;
  font-size: 30px;

  &:last-child {
    padding-bottom: 40px;
  }
}

.album,
.songs {
  background: #000;
  color: $white;
  text-align: center;
  font-size: 30px;
  z-index: 6;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/noise.gif");
    top: 0;
    opacity: 0.4;
    left: 0;
    background-size: 200px;
    z-index: -2;
  }

  .block-title {
    float: left;
    width: 100%;
    font-family: $font-p;
    font-size: 60px;

    // filter: blur(1px);
    @include media {
      font-size: 30px;
      padding: 30px 0;
      letter-spacing: 2px;
    }
  }

  .block-mid {
    @include media {
      margin: 0 auto;
      width: 85%;
    }

    img {
      max-width: 350px;
      width: 100%;
      background-color: white;
      padding: 5px;
      border-radius: 5px;

      // filter: blur(1px);
      @include media {
        max-width: 70%;
      }
    }
  }
}

.nav-bar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  background: rgba(26, 32, 45, 0.25);
  font-family: roboto;
  z-index: 100;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include media {

    display: block;

  }

  @include media {
    opacity: 0.9;
    background: rgb(0, 0, 0);
    border-top: 1px solid rgba(255, 255, 255, 0.14);
  }

  .resp-menu {
    width: 100%;
    display: none;

    @include media {
      display: block;
    }

    p {
      color: #FFF;
      text-align: center;
      font-family: $font-p;
      font-size: 30px;
      letter-spacing: 2px;
      margin: 15px 0;
    }
  }

  .btn-warp {
    max-height: 90px;
    overflow: hidden;
    transition: all .4s ease-in-out;

    &.hide {
      @include media {
        max-height: 0;
      }
    }
  }

  .btn-warp {
    flex-basis: 20%;
    box-sizing: border-box;

    @include media {
      width: 100%;
      display: block;
    }

    a {
      color: #fff;
      padding: 15px 0;
      text-decoration: none;
      text-align: center;
      display: block;
      margin: 0;
      transition: background 0.3s ease-in-out;

      &.youtube {
        @include media {
          background: hsla(0, 100%, 50%, 0.6);
        }

        &:hover {
          background: hsla(0, 100%, 50%, 0.6);
        }
      }

      &.soundcloud {
        @include media {
          background: hsla(28, 100%, 50%, 0.6);
        }

        &:hover {
          background: hsla(28, 100%, 50%, 0.6);
        }
      }

      &.bandcamp {
        @include media {
          background: hsla(193, 74%, 44%, 0.6);
        }

        &:hover {
          background: hsla(193, 74%, 44%, 0.6);
        }
      }

      &.instagram {
        @include media {
          background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
          opacity: 0.6;
        }

        &:hover {
          background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
          opacity: 0.6;
        }
      }

      &.facebook {
        @include media {
          background: hsla(221, 44%, 41%, 0.6);
        }

        &:hover {
          background: hsla(221, 44%, 41%, 0.6);
        }
      }

      &.spotify {
        @include media() {
          background: hsla(141, 73%, 42%, 0.6);
        }

        &:hover {
          background: hsla(141, 73%, 42%, 0.6);
        }
      }

      &.applemusic {
        @include media {
          background: hsla(0, 0%, 100%, 0.6);
          color: #000;
        }

        &:hover {
          background: hsla(0, 0%, 100%, 0.6);
          color: #000;
        }
      }
    }
  }
}

@keyframes masked-animation {
  from {
    background-position: left bottom;
  }

  to {
    background-position: right bottom;
  }
}

@include media {
  .fp-controlArrow.fp-next {
    right: 10px;
  }

  .fp-controlArrow.fp-prev {
    left: 10px;
  }
}