@font-face {
  font-family: 'vogue';
  src: url('/font/vogue-webfont.woff2') format("woff2"),
    url('/font/vogue-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}


$font-p: vogue;
$font-s: roboto;

h1,
h2,
h3 {
  font-family: $font-p;
}