.gallery {
  background-image: url("/images/noise.gif");
  background-size: 200px;
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 99;
}

.container-gallery {
  display: block;
  max-width: 980px;
  width: 100%;
  margin: 20px auto;
}

.gallery-title {
  font-size: 3em;
  text-align: center;
  color: $white;
  font-weight: 100;
  text-shadow: 0 0 8px #222;
}

.gallery-content {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  @include media {
    grid-template-columns: repeat(2, 1fr);
  }
}

.btn {
  place-self: center;

  &-epk{
    display: block;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-family: $font-p;
    border-radius: 5px;
    padding: 15px 60px;
    background:#00000057;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .5s;
    &:hover{
      background:#000000ab;
    }
  }
}

.photo {
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}