
$tamano:250px;

.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #27012d, #270238, #250545, #1c0953, #001061);
    z-index: 66666;
    display: flex;
    align-items: center;
    opacity: 1;
    justify-content: center;
    transition: all 1s ease-in-out;
    &.loaded{
        opacity: 0;
        z-index: -1;
    }
}


@keyframes grow-and-fade {
    0% {
        opacity: 0;
        transform: scale(0.1) translatez(0);
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1) translatez(0);
    }
}

@keyframes pulsing-fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.8;
    }

    60% {
        opacity: 0;
    }
}

.triangle {
    animation: grow-and-fade 3500ms linear infinite;
    height: $tamano;
    width: $tamano;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0%;
    transform: translatez(0);
    transform-origin: 50% 60%;
    will-change: opacity, transform;
}

.triangle-wrapper {
    height: $tamano;
    position: relative;
    width: $tamano;
}

.triangle-loading {
    animation: pulsing-fade 6000ms ease infinite;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    left: 50%;
    letter-spacing: 8px;
    margin-left: 4px;
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
}

.triangle-svg {
    margin-top: -20px;
    opacity: 0.5;
    overflow: visible;
}

.triangle-polygon {
    stroke-width: 5px;
}

.triangle-1 {
    animation-delay: 0ms;

    .triangle-polygon {
        stroke:#FFF;
    }
}

.triangle-2 {
    animation-delay: 400ms;

    .triangle-polygon {
        stroke: #000;
    }
}

.triangle-3 {
    animation-delay: 800ms;

    .triangle-polygon {
        stroke: #FFF;
    }
}

.triangle-4 {
    animation-delay: 1200ms;

    .triangle-polygon {
        stroke:#000000;
    }
}

.triangle-5 {
    animation-delay: 1600ms;

    .triangle-polygon {
        stroke: white;
    }
} 