$white: #FFF;

@mixin media() {
    @media only screen and (max-width: 769px) {
        @content;
    }
}

@mixin responUntil ($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}