.modal {
  &-overlay {
    font-family: roboto;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    z-index: 100;
    animation: fadeOut 1s forwards;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      backdrop-filter: blur(5px);
    }

    &.active {
      animation: fadeIn 1s forwards;
    }
  }

  &-content {
    position: fixed;
    width: 85%;
    height: auto;
    max-width: 350px;
    background-image: linear-gradient(to bottom, #4f89e0, #557ded, #6d6cf5, #8f52f4, #b31feb);
    color: white;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(150px);
    line-height: normal;


    img {
      width: 100%;

    }

    h1 {
      margin: 0px 0 20px;
      font-size: 25px;
      text-align: center;
    }

    .button-link {
      width: 100%;
      display: block;
      text-align: center;
      border: 1px solid transparent;
      margin: 5px 0;
      padding: 10px 0;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &.spotify {
        color: #1db954;
        border-color: #1db954;
        background-color: transparent;

        &:hover {
          background-color: #1db954;
          color: #FFF;
        }
      }

      &.apple {
        color: #FFF;
        border-color: #FFF;
        background-color: transparent;


        &:hover {
          background-color: #FFF;
          color: #000;
        }
      }



    }

    .close-modal {
      @extend .button-link;
      margin-top: 25px;
      background: linear-gradient(to right, #4f89e0, #557ded, #6d6cf5, #8f52f4, #b31feb);
      background-size: 400% 400%;
      font-weight: bold;
      letter-spacing: 1px;
      color: #FFF;
      animation: gradient 4s ease infinite;

      &:hover {
        border-color: #FFF;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes modalIn {
  0% {
    transform: translateY(150px);
    opacity: 0.1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(150px);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

/*@keyframes animationOut {*/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}