.fp-enabled body,
html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide,
.fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out; }

.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 55px;
  width: 0;
  opacity: 0.8;
  border-width: 15.5px 15px 15.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 55px;
  opacity: 0.8;
  border-width: 15.5px 0 15.5px 15px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important !important; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-auto-height.fp-section {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section {
  height: auto !important; }

@font-face {
  font-family: 'trendgetterregular';
  src: url("/font/trendgetter-webfont.woff2") format("woff2"), url("/font/trendgetter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #27012d, #270238, #250545, #1c0953, #001061);
  z-index: 66666;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  opacity: 1;
  -ms-flex-pack: center;
      justify-content: center;
  transition: all 1s ease-in-out; }
  .loader.loaded {
    opacity: 0;
    z-index: -1; }

@keyframes grow-and-fade {
  0% {
    opacity: 0;
    transform: scale(0.1) translatez(0); }
  40% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1) translatez(0); } }

@keyframes pulsing-fade {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0.8; }
  60% {
    opacity: 0; } }

.triangle {
  animation: grow-and-fade 3500ms linear infinite;
  height: 250px;
  width: 250px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0%;
  transform: translatez(0);
  transform-origin: 50% 60%;
  will-change: opacity, transform; }

.triangle-wrapper {
  height: 250px;
  position: relative;
  width: 250px; }

.triangle-loading {
  animation: pulsing-fade 6000ms ease infinite;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  left: 50%;
  letter-spacing: 8px;
  margin-left: 4px;
  margin-top: 10px;
  opacity: 0;
  position: absolute;
  top: 100%;
  transform: translate3d(-50%, -50%, 0);
  text-transform: uppercase; }

.triangle-svg {
  margin-top: -20px;
  opacity: 0.5;
  overflow: visible; }

.triangle-polygon {
  stroke-width: 5px; }

.triangle-1 {
  animation-delay: 0ms; }
  .triangle-1 .triangle-polygon {
    stroke: #FFF; }

.triangle-2 {
  animation-delay: 400ms; }
  .triangle-2 .triangle-polygon {
    stroke: #000; }

.triangle-3 {
  animation-delay: 800ms; }
  .triangle-3 .triangle-polygon {
    stroke: #FFF; }

.triangle-4 {
  animation-delay: 1200ms; }
  .triangle-4 .triangle-polygon {
    stroke: #000000; }

.triangle-5 {
  animation-delay: 1600ms; }
  .triangle-5 .triangle-polygon {
    stroke: white; }

.modal-overlay {
  font-family: roboto;
  top: 0;
  left: 0;
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 100;
  animation: fadeOut 1s forwards; }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .modal-overlay {
      -webkit-backdrop-filter: blur(5px);
              backdrop-filter: blur(5px); } }
  .modal-overlay.active {
    animation: fadeIn 1s forwards; }

.modal-content {
  position: fixed;
  width: 85%;
  height: auto;
  max-width: 350px;
  background-image: linear-gradient(to bottom, #4f89e0, #557ded, #6d6cf5, #8f52f4, #b31feb);
  color: white;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(150px);
  line-height: normal; }
  .modal-content img {
    width: 100%; }
  .modal-content h1 {
    margin: 0px 0 20px;
    font-size: 25px;
    text-align: center; }
  .modal-content .button-link, .modal-content .close-modal {
    width: 100%;
    display: block;
    text-align: center;
    border: 1px solid transparent;
    margin: 5px 0;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out; }
    .modal-content .button-link.spotify, .modal-content .spotify.close-modal {
      color: #1db954;
      border-color: #1db954;
      background-color: transparent; }
      .modal-content .button-link.spotify:hover, .modal-content .spotify.close-modal:hover {
        background-color: #1db954;
        color: #FFF; }
    .modal-content .button-link.apple, .modal-content .apple.close-modal {
      color: #FFF;
      border-color: #FFF;
      background-color: transparent; }
      .modal-content .button-link.apple:hover, .modal-content .apple.close-modal:hover {
        background-color: #FFF;
        color: #000; }
  .modal-content .close-modal {
    margin-top: 25px;
    background: linear-gradient(to right, #4f89e0, #557ded, #6d6cf5, #8f52f4, #b31feb);
    background-size: 400% 400%;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFF;
    animation: gradient 4s ease infinite; }
    .modal-content .close-modal:hover {
      border-color: #FFF; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes modalIn {
  0% {
    transform: translateY(150px);
    opacity: 0.1; }
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible; } }

@keyframes modalOut {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    transform: translateY(150px);
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible;
    display: block; } }

/*@keyframes animationOut {*/
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none; } }

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurred .fullpage-wrapper,
  .blurred nav {
    filter: blur(5px) !important; } }

.fullpage-wrapper,
nav {
  filter: blur(0);
  transition: all 0.5s ease-in-out; }

.main {
  text-align: center;
  position: relative; }
  .main .wrap-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    overflow: hidden; }
    .main .wrap-slider:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/images/noise.gif");
      top: 0;
      opacity: 0.4;
      left: 0;
      background-size: 200px;
      z-index: 99; }
    .main .wrap-slider img {
      width: 100%;
      height: 100vh;
      object-fit: cover; 
      object-position: top;}
  .main .titles {
    position: absolute;
    width: 100%;
    top: calc(50% - 95px);
    z-index: 99; }
    .main .titles h2 {
      font-family: trendgetterregular;
      font-size: 7pc;
      text-align: center;
      color: #FFF;
      font-weight: 100;
      text-shadow: 0 0 8px #222;
      margin: 0; }
      @media only screen and (max-width: 769px) {
        .main .titles h2 {
          font-size: 4pc; } }
    .main .titles h4 {
      margin: 65px 0 0;
      font-size: 15px;
      color: #FFF;
      letter-spacing: 25px;
      opacity: 0.3;
      text-transform: lowercase;
      font-family: roboto; }
      @media only screen and (max-width: 769px) {
        .main .titles h4 {
          font-size: 11px;
          letter-spacing: 2vh; } }

.album {
  background-color: blue;
  color: #FFF;
  text-align: center;
  font-size: 30px; }

.container {
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  box-sizing: border-box;
  overflow: hidden; }

.block {
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-family: roboto; }
  @media only screen and (max-width: 769px) {
    .block {
      width: 100%; } }
  @media only screen and (max-width: 769px) {
    .block.text {
      padding: 20px 0; } }
  .block h2 {
    filter: blur(1px);
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 15px; }
    @media only screen and (max-width: 769px) {
      .block h2 {
        filter: blur(1px);
        font-size: 18px;
        letter-spacing: 13px; } }
    .block h2 span {
      background: url("/images/bf2.jpg") repeat;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
              background-clip: text;
      animation-name: masked-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
  .block img {
    width: 100%;
    padding: 30px;
    box-sizing: border-box; }
    @media only screen and (max-width: 769px) {
      .block img {
        width: 80%;
        padding: 10px; } }

.songs {
  color: #FFF;
  text-align: center;
  font-size: 30px; }
  .songs:last-child {
    padding-bottom: 40px; }

.album,
.songs {
  background: #000;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  z-index: 6; }
  .album:before,
  .songs:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/noise.gif");
    top: 0;
    opacity: 0.4;
    left: 0;
    background-size: 200px;
    z-index: -2; }
  .album .block-title,
  .songs .block-title {
    float: left;
    width: 100%;
    font-family: trendgetterregular;
    font-size: 60px; }
    @media only screen and (max-width: 769px) {
      .album .block-title,
      .songs .block-title {
        font-size: 30px;
        padding: 30px 0;
        letter-spacing: 2px; } }
  @media only screen and (max-width: 769px) {
    .album .block-mid,
    .songs .block-mid {
      margin: 0 auto;
      width: 85%; } }
  .album .block-mid img,
  .songs .block-mid img {
    max-width: 350px;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px; }
    @media only screen and (max-width: 769px) {
      .album .block-mid img,
      .songs .block-mid img {
        max-width: 70%; } }

.nav-bar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  background: rgba(26, 32, 45, 0.25);
  font-family: roboto;
  z-index: 100;
  border-top: 1px solid rgba(255, 255, 255, 0.14); }
  @media only screen and (max-width: 769px) {
    .nav-bar {
      opacity: 0.9;
      background: black;
      z-index: 9999;
      border-top: 1px solid rgba(255, 255, 255, 0.14); } }
  .nav-bar .resp-menu {
    width: 100%;
    display: none; }
    @media only screen and (max-width: 769px) {
      .nav-bar .resp-menu {
        display: block; } }
    .nav-bar .resp-menu p {
      color: #FFF;
      text-align: center;
      font-family: trendgetterregular;
      font-size: 30px;
      letter-spacing: 2px;
      margin: 15px 0; }
  .nav-bar .btn-warp {
    max-height: 90px;
    overflow: hidden;
    transition: all .4s ease-in-out; }
    @media only screen and (max-width: 769px) {
      .nav-bar .btn-warp.hide {
        max-height: 0; } }
  .nav-bar .btn-warp {
    width: 20%;
    display: inline-block;
    box-sizing: border-box; }
    @media only screen and (max-width: 769px) {
      .nav-bar .btn-warp {
        width: 100%;
        display: block; } }
    .nav-bar .btn-warp a {
      color: #fff;
      padding: 15px 0;
      text-decoration: none;
      text-align: center;
      display: block;
      margin: 0;
      transition: background 0.3s ease-in-out; }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.youtube {
          background: red; } }
      .nav-bar .btn-warp a.youtube:hover {
        background: red; }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.soundcloud {
          background: #f70; } }
      .nav-bar .btn-warp a.soundcloud:hover {
        background: #f70; }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.bandcamp {
          background: #1da0c3; } }
      .nav-bar .btn-warp a.bandcamp:hover {
        background: #1da0c3; }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.instagram {
          background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf); } }
      .nav-bar .btn-warp a.instagram:hover {
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf); }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.facebook {
          background: #3b5998; } }
      .nav-bar .btn-warp a.facebook:hover {
        background: #3b5998; }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.spotify {
          background: #1db954; } }
      .nav-bar .btn-warp a.spotify:hover {
        background: #1db954; }
      @media only screen and (max-width: 769px) {
        .nav-bar .btn-warp a.applemusic {
          background: #fff;
          color: #000; } }
      .nav-bar .btn-warp a.applemusic:hover {
        background: #fff;
        color: #000; }

@keyframes masked-animation {
  from {
    background-position: left bottom; }
  to {
    background-position: right bottom; } }

@media only screen and (max-width: 769px) {
  .fp-controlArrow.fp-next {
    right: 10px; }
  .fp-controlArrow.fp-prev {
    left: 10px; } }
