meta(charset='UTF-8')
title The Emerald Planet | NTSC
link(rel='shortcut icon', href='/images/favicon.ico')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
meta(property='og:url', content='http://theepmusic.com/')
meta(property='og:type', content='website')
meta(property='og:title', content='The Emerald Planet')
meta(property='og:description', content=' Somewhere In Time / A n a c h r o n i s m')
meta(property='og:image', content='http://theepmusic.com/images/theemeraldplanet.png')
meta(name='description' , content='Pagina oficial The Emerald Planet. Llega la tripulación esmeralda al planeta tierra 🚀 sintetizadores cósmicos y sonidos psicodélicos. Bienvenidos al viaje.')
meta(name='keywords' content='the emerald planet , emerald, planet ,banda colombiana ,chillwave, new wave , synthpop , banda bogotana , musica colombiana, musica bogotana, sunset')

script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
  dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-52984612-2');

//- TODO: Remove GTAG commets