nav#menu.nav-bar
        .btn-warp
            a.button.button--6.youtube(href='https://www.youtube.com/theemeraldplanettep' target='_black') Youtube
        .btn-warp
            a.button.button--6.instagram(href='https://www.instagram.com/themeraldplanet' target='_black') Instagram
        .btn-warp
            a.button.button--6.facebook(href='https://www.facebook.com/Themeraldplanet' target='_black') Facebook  
        .btn-warp
            a.button.button--6.spotify(href='https://open.spotify.com/artist/1cn03Pws3Hl17o3iUyBJKw?si=nFC4nfJBTaqHljNrztBmWQ' target='_black') Spotify
        .btn-warp
            a.button.button--6.applemusic(href='https://music.apple.com/co/artist/the-emerald-planet/1300249039' target='_black' ) Apple Music
        .resp-menu
            p Encuentranos en ...
